{% extends "starter-template.html" %}

	{% block title %}Sistema de Reportes{% endblock %}
	
	{% block titlecontenido %}Sistema de Reportes{% endblock %}
	
	{% block bylinecontenido %}Diseñado por Open Automation{% endblock %}
	
	{% block textlinkbylinecontenido %} Open Automation{% endblock %}
	
	{% block contenido %}

	{% endblock %}
	{% block titlecomentcontenido %}Sistema de Reportes {% endblock %}
	{% block comentcontenido %}Se podra generar el o los reportes manuales y automaticos del sistema de historicos {% endblock %}
