{% extends "starter-template.html" %}

	{% block title %}Internal Server Error{% endblock %}
	
	{% block titlecontenido %}Internal Server Error{% endblock %}
	
	{% block bylinecontenido %}Diseñado por Open Automation{% endblock %}
	
	{% block textlinkbylinecontenido %} Open Automation{% endblock %}
	
	{% block contenido %}
	{% endblock %}
	{% block titlecomentcontenido %}Error Interno del Servidor {% endblock %}
	{% block comentcontenido %}Se ha producido un error interno del servidor web {% endblock %}
